.container {
    display: flex;
    justify-content: space-between; /* Placér elementerne i containeren i hver ende */
    align-items: center;
    padding: 20px;
}

.menu {
    list-style-type: none;
    margin-top: -50px; /* Flyt menuen længere op */
 /* Tilføj lidt plads nedenunder menuen */
    padding: 0;
}

.menu li {
    display: inline; /* Gør listeelementerne vandrette */
}

.menu li a {
    padding: 5px;
    text-decoration: none;
    color: #7A7A79;
    font-size: 15px;
    font-family: 'Lato';
}

.logo img {
    max-width: 200px; /* Juster størrelsen afhængigt af dit logo */
}
  

 /* The sidebar menu */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0; /* Placing the sidebar on the right side */
  background-color: #7A7A79;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 0;
  left: 10px; /* Adjusted left position */
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #284E37;
  color: white;
  padding: 10px 15px;
  border: none;
  position: absolute;
  top: 50px; /* Juster top-værdien for at flytte knappen længere ned */
  right: 35px; /* Placing the button on the right side */
}


.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main2 {
  transition: margin-right .5s; /* Adjusted for margin-right */
  padding: 20px;
}


/* galleri*/

* {box-sizing:border-box}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}


/* Slideshow container */
.foto {
  width: 100%;
  height: 85%;
}

  

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text1 {
  color: #f2f2f2;
  font-family: 'Lato';
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
 
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.middle-bottom {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: Arial;
}

.middle-bottom button {
  background-color: #F47521; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}


/*lommeregner*/

.container3 {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-left: auto; margin-right: 0;
}

h1 {
  text-align: center;
}

form {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="number"] {
  width: 100px;
  padding: 8px;
  margin: 0 10px;
}

button {
  padding: 10px 20px;
  background-color: #F47521;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #F47521;
}

#result {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
