.container {
    display: flex;
    justify-content: space-between; /* Placér elementerne i containeren i hver ende */
    align-items: center;
    padding: 25px;
}

.menu {
    list-style-type: none;
    margin-top: -50px; /* Flyt menuen længere op */
 /* Tilføj lidt plads nedenunder menuen */
    padding: 0;
}

.menu li {
    display: inline; /* Gør listeelementerne vandrette */
}

.menu li a {
    padding: 5px;
    text-decoration: none;
    color: #7A7A79;
    font-size: 15px;
    font-family: arial;
}

.logo img {
    max-width: 200px; /* Juster størrelsen afhængigt af dit logo */
}


  
/* burgermenu*/
  .burger-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    padding: 20px;
  }
  
  .burger-icon {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
  }
  
  .line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
  
  .menu2 {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  
  .menu2 li {
    padding: 10px;
  }
  
  .menu2 li a {
    text-decoration: none;
    color: #fff;
  }
  